Use the following information to access your cluster:

clusterName is: {{ name }}

infraID: {{ name }}

Region: {{ region }}

OpenShift Console: https://console-openshift-console.apps.{{ name }}.{{ domain }}

kubeadmin/{{ kubeadmin_secret }}

The kubeconfig is on the local filesystem: {{ deployment_dir }}/{{ name }}/kubeconfig



