{
    "Credentials": {
        "AccessKeyId": "{{ sts.sts_creds.access_key }}",
        "SecretAccessKey": "{{ sts.sts_creds.secret_key }}",
        "SessionToken": "{{ sts.sts_creds.session_token }}",
        "Expiration": "{{ sts.sts_creds.expiration }}"
    }
}

