{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "sts:AssumeRole",
            "Principal": {
                "AWS": [
                   {% for user in arn -%}
                   "{{ user }}"{% if not loop.last %}, 
                   {% else +%}
                 ]           
            }
        }
    ]
}
                   {% endif -%}
                   {%- endfor -%}
