Use the following information to access your cluster:

clusterName is: {{ name }}

infraID: {{ name }}

Region: {{ region }}

OpenShift Console: https://console-openshift-console.apps.{{ name }}.{{ domain }}

Username and Password for login: kubeadmin/{{ kubeadmin_secret }}

The kubeconfig is on the local filesystem: export KUBECONFIG={{ deployment_dir }}/{{ name }}/kubeconfig



